        # Common Labels
        labels:
          app: "bmc-service-v1"
          group: "rainmaker"

        # Ingress Configs
        ingress:
          enabled: true
          zuul: true
          context: "bmc-service-v1"

        # Init Containers Configs
        initContainers:
          dbMigration:
            enabled: true
            schemaTable: "bmc-service-v1_schema"
            image:
              repository: "bmc-service-v1-db"

        # Container Configs
        image:
          repository: "bmc-service-v1"
        replicas: "1"
        memory_limits: "512Mi"
        healthChecks:
          enabled: true
          livenessProbePath: "/bmc-service-v1/actuator/health/liveness"
          readinessProbePath: "/bmc-service-v1/actuator/health/readiness"
        appType: "java-spring"
        tracing-enabled: true
        heap: "-Xmx192m -Xms192m"
        java-args: "-Dspring.profiles.active=monitoring"
        notification-sms-enabled: ""
        employee-allowed-search-params: ""
        citizen-allowed-search-params: ""
        env: |
          - name: EGOV_IDGEN_HOST
            valueFrom:
              configMapKeyRef:
                name: egov-service-host
                key: egov-idgen
          - name: EGOV_MDMS_HOST
            valueFrom:
              configMapKeyRef:
                name: egov-service-host
                key: egov-mdms-service
          - name: EGOV_USER_HOST
            valueFrom:
              configMapKeyRef:
                name: egov-service-host
                key: egov-user
          - name: EGOV_LOCATION_HOST
            valueFrom:
              configMapKeyRef:
                name: egov-service-host
                key: egov-location
          - name: EGOV_LOCALIZATION_HOST
            valueFrom:
              configMapKeyRef:
                name: egov-service-host
                key: egov-localization
          - name: EGOV_WORKFLOW_HOST
            valueFrom:
              configMapKeyRef:
                name: egov-service-host
                key: egov-workflow-v2              
          - name: EGOV_CALCULATION_HOST
            valueFrom:
              configMapKeyRef:
                name: egov-service-host
                key: bmc-service-v1
          {{- if index .Values.global "tracer-errors-provideexceptionindetails" }}
          - name: TRACER_ERRORS_PROVIDEEXCEPTIONINDETAILS
            valueFrom:
              configMapKeyRef:
                name: egov-config
                key: tracer-errors-provideexceptionindetails
          {{- end }}
          - name: SPRING_KAFKA_CONSUMER_GROUP_ID
            value: "save-bmc-application"
          - name: PERSISTER_SAVE_PROPERTY_TOPIC
            value: "bmc-welfare-persister"
          - name: PERSISTER_UPDATE_PROPERTY_TOPIC
            value: "bmc-welfare-persister"
          - name: SPRING_KAFKA_PRODUCER_KEY_SERIALIZER
            value: "org.apache.kafka.common.serialization.StringSerializer"
          - name: SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER
            value: "org.springframework.kafka.support.serializer.JsonSerializer"
          - name: JAVA_OPTS
            value: {{ .Values.heap | quote }}
          - name: JAVA_ARGS
            value: {{ .Values.javaArgs | quote }}
          - name: SERVER_PORT
            value: "8080"
          - name: EGOV_IDGEN_PTID_FORMAT
            value: "PT-[city]-[SEQ_EG_PT_PTID]"
          - name: EGOV_IDGEN_ASSM_FORMAT
            value: "AS-[cy:YYYY-MM-dd]-[SEQ_EG_PT_ASSM]"
          - name: NOTIFICATION_URL
            valueFrom:
              configMapKeyRef:
                name: egov-config
                key: egov-services-fqdn-name
          - name: SECURITY_BASIC_ENABLED
            value: "false"
          - name: MANAGEMENT_SECURITY_ENABLED
            value: "false"
          - name: NOTIFICATION_SMS_ENABLED
            value: {{ .Values.notificationSmsEnabled | quote }}
          - name: EGOV_USER_EVENT_NOTIFICATION_ENABLED
            value: "true"
          {{- if index .Values "employee-allowed-search-params" }}
          - name: EMPLOYEE_ALLOWED_SEARCH_PARAMS
            value: {{ index .Values "employee-allowed-search-params" | quote }}
          {{- end }}
          {{- if index .Values "citizen-allowed-search-params" }}
          - name: CITIZEN_ALLOWED_SEARCH_PARAMS
            value: {{ index .Values "citizen-allowed-search-params" | quote }}
          {{- end }}
          - name: EGOV_UI_APP_HOST
            valueFrom:
              configMapKeyRef:
                name: egov-config
                key: egov-services-fqdn-name
          - name: EGOV_USR_EVENTS_CREATE_TOPIC
            value: "persist-user-events-async"
          - name: RAZORPAY_URL
            value: "https://ifsc.razorpay.com/"
          {{- if .Values.tracingEnabled }}
          - name: TRACER_OPENTRACING_ENABLED
            value: "true"
          {{- end }}
          # Added topics as environment variables
          - name: KAFKA_TOPICS
            value: "update-bmc-application:1:1,upsert-aadharuser:1:1,upsert-userbank:1:1,upsert-userotherdetails:1:1,insert-useraddress:1:1,update-useraddress:1:1,upsert-userqualification:1:1,upsert-user-document:1:1,upsert-usersubschememapping:1:1,save-scheme-machine:1:1,save-scheme-course:1:1,save-user-scheme-application:1:1"

